body{
  background-color: #C5E4E7;
}

#logo {
  display: flex;
  align-items: center;
  justify-content:center;
margin-top: 100px;
margin-bottom: 60px;
}

.outer {
  background-color: white;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content:center;
margin: auto;
border-radius: 20px;

}

.left{
  background-color: white;
  height: 90%;
  width: 47%;
  border-radius: 20px;
}

.right{
  height: 90%;
  width:47%;
  border-radius: 20px;
  background-color: #00494d;
}
